<a data-icon="grid" data-role="button" href="tel:8002738255">
Call the Lifeline
</a>

<button
onclick="window.open('http://suicidepreventionlifeline.org/GetHelp/LifelineChat.aspx', '_blank', 'location=yes');"
target="_blank" data-icon="grid" data-role="button" href="">
Lifeline Crisis Chat
</button>


<button
onclick="window.open('http://findtreatment.samhsa.gov/MHTreatmentLocator/faces/quickSearch.jspx', '_blank', 'location=yes');"
target="_blank" data-icon="search" data-role="button" href="">
Treatment Locator
</button>