	<h3>
	<%= step_num %> : <%= title %>
	</h3>


<div style="opacity:0.5; text-shadow: none; font-size: 14px; color: #333; background-color: pink; padding: 10px; border-radius: 10px"> 
<%= description %>
</div>



<!-- add new strategy -->
	
<% _.each(fields, function(field) { %> 


	<% if (field == "phone number") { %>
	    <input type="tel" name="" class="textinput" placeholder="Add <%= field %>" value="" type="text" data-mini="false" />
    
	<% } else { %>
	    <input name="" class="textinput" placeholder="Add <%= field %>" value="" type="text" data-mini="false" />
	
	<% } %>

<% }); %>
<input id="<%= step_num %>" class="submit" type="submit" value="Submit" />
	
	<!--display old strategies -->
		<% if (strategies.length != 0) { %>
		
	<ol style="list-style-type: none; text-shadow: none; border:5px solid gray; padding: 10px; padding-left: 30px; border-radius: 10px">
	<% i = 0 %>
	<% _.each(strategies, function(strat) { %> 
		<li id="<%= i %>" style="font-size: 16px; padding: 10px">
			<a class="delete" style="margin-right: 10px;" href="#" data-bypass="true" data-iconpos="notext" data-role="button" data-icon="delete" data-mini="true" data-inline="true">Delete</a>
			
			<% if(strat.indexOf("|") == -1) { %>
				<%= strat %>
			<% } else { %>
				<% arr = strat.split(" | ");
				str = arr[0];
				phone = arr[1];
				%>
				<%= str %>
				
				<a data-inline="true" data-mini="true" data-role="button" href="tel:<%= phone %>">
				Call Phone: <%= phone %>
				</a>
				
				
			<% } %>
		</li> 
		<% i = i + 1 %>
	
	<% }); %>
	</ol>
	
	<% } %>