body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    /*-webkit-user-select: none;                   prevent copy paste, to allow, change 'none' to 'text' */

    background-color:#E4E4E4;

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}

/* Portrait layout (default) */
.app {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}




/* Adjust the width of the left push menu */
#myPanel.ui-panel {
    width: 12em;
}
#myPanel.ui-panel-closed {
    width: 0;
}
.ui-panel-position-left.ui-panel-display-push {
    left: 0;
}
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: 12em;
    right: -12em;
}
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(12em,0,0);
    -moz-transform: translate3d(12em,0,0);
    transform: translate3d(12em,0,0);
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
	-webkit-transform: translate3d(12em,0,0);
}








